{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- Log in page-->
<div class="container">
  <div class="form-control">
    <div class="row">
      <div class="col-md-4 mt-3 offset-md-3">

        <h1>{% trans "Sign In" %}</h1>
        <!-- transfers to sign up if not already signed up-->
        <p>{% blocktrans %}Welcome back to Kids Bored. If you would like to share
          your own idea, or comment on another post then please log in.
          If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-3 offset-md-3">
        <!-- Log In form-->
        <form class="login" method="POST" action="{% url 'account_login' %}">


          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input class type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>

        </form>
      </div>
    </div>
  </div>
</div>
  {% endblock %}