{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Browse Ideas</h1>
        </div>
    </div>
    <div class="row">

        <!-- Ideas Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for idea in idea_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                {% if "placeholder" in idea.picture.url %}
                                <!-- Placeholder image-->
                                <img class="card-img-top ideas-page-pic" 
                                src="https://res.cloudinary.com/doakyrejw/image/upload/v1659164582/pexels-kampus-production-6299265_popbk1.jpg" 
                                alt="children running through a field with baloons">
                                {% else %}
                                <!-- User image -->
                                <img class="card-img-top ideas-page-pic" src="{{ idea.picture.url }}" alt="">
                                {% endif %}
                                <!-- Idea Author-->
                                <div>
                                    <p class="author">Author: {{ idea.author }}</p>
                                </div>
                                <!-- Activity name and link to idea detail page -->
                            <a href="{% url 'idea_detail' idea.pk idea.activity_name %}" class="idea-link">
                                <h2 class="card-title">{{ idea.activity_name }}</h2>
                            </a>
                            <hr>
                            <!-- date idea was updated on and number of likes -->
                            <p class="card-text h6">{{ idea.updated_on}}</p><i
                                    class=" card-text far fa-heart">{{ idea.number_of_likes }}</i>

                                
                            </div>
                        </div>
                    </div>
                <!-- starts a new row after every 3 ideas posted -->
                {% if forloop.counter|divisibleby:3 %}

            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- puts next page button at the bottom of the page when there are more than 6 ideas on a page-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


{% endblock %}