{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row">
        </div>
        <div class="col-md-10 offset-md-1">
            <img class="img-fluid hero-image border border-light "
                src="https://res.cloudinary.com/doakyrejw/image/upload/v1658587970/hero-image-kids-3_aglx6t.jpg" alt="">
        </div>
        <div class="col-12">
            <h1 class="tag-line">
                Bored Kids?
                Welcome to
                Kidsbored!
            </h1>
            <p>
                Kidsboard is a place explore and share activity ideas to do with your kids.
                The idea is that you can log on and share as many ideas as you like.  From big days out to home
                crafs, if your kids had fun doing it let others know about it.  
            </p>
            <p>
                And when you are stuck for something to do, brows the ideas pages and see if you can get some inspiration.
            </p>
    </div>
</div>


{% endblock %}