@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Yusei+Magic&display=swap');

body {
    font-family: 'Yusei Magic', sans-serif;
    background-color: #041121;
    color: rgb(237, 233, 249);

    
}

.bg-light {
    background-color: #041121!important;
    color: rgb(237, 233, 249)!important;
}

.navbar-brand {
    font-family: Ranchers, sans-serif;
    font-size: 3.25rem;
    margin-left: 1rem;
    color: rgb(237, 233, 249)!important;
}

.tag-line {
    padding: 1rem;
}

.delete-idea {
    border: 1px solid rgb(237, 233, 249);
}

.pic-padding {
    padding: 0;
}

.card {
    color:#041121!important;
    background-color:rgb(237, 233, 249)!important;
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-nav {
    margin-right: 1.5rem;
}


@media only screen and (max-width: 340px) {
    .navbar-brand {
        
        font-size: 3rem;
    }
}

.card-img-top {
    width: 100%;
    height: 28vw;
    object-fit: cover;
}