@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Yusei+Magic&display=swap');


/* Generic Styling */
body {
    font-family: 'Yusei Magic', sans-serif;
    background-color: #041121;
    color: rgb(237, 233, 249);
}

a {
    text-decoration: none;
    color: #041121;
}

.button {
    margin-top: 8px;
    padding: 4px;
    border-radius: 5px;
}

.button:hover {
    background:#041121;
    color: rgb(237, 233, 249);
    box-shadow: inset 0 0 0 4px rgb(237, 233, 249);
    
}

/* Navbar */

.bg-light {
    background-color: #041121!important;
    color: rgb(237, 233, 249)!important;
}

/* Navbar heading */

.navbar-brand {
    font-family: Ranchers, sans-serif;
    font-size: 3.25rem;
    margin-left: 1rem;
    color: rgb(237, 233, 249)!important;
}

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-nav {
    margin-right: 1.5rem;
}

.tag-line {
    padding: 1rem;
}

/* toasts*/

.toast {
    background-color: rgb(237, 233, 249);
    color: #041121;
}

/* Footer */

/* social media links */

.social-links {
    color: #0d6efd;
    font-size: x-large;
}

.delete-idea {
    border: 1px solid rgb(237, 233, 249);
}

.pic-padding {
    padding: 0;
}

.card {
    color:#041121!important;
    background-color:rgb(237, 233, 249)!important;
}

/* Home page */

/* Hero Image */

hero-image {
    width: 100%;
    height: auto;
}


/* browse ideas page */

.ideas-page-pic {
    width: 100%;
    height: 28vw;
    object-fit: contain;
}

/* card text */

.card-text {
    column-rule-color: #041121!important;
}

/* Idea detail page*/

.ideas-detail-pic {
    width: 100%;
    height: 45vw;
    object-fit: contain;
}




/* like and comment amount*/

.like-comment {
    padding: 0;
}

/* Media Screens */

/* Media Screen under 992px */
@media only screen and (max-width: 992px) {
    .like-comment {
        width: 11%;
    }
}
/* Media Screen under 768px*/

@media only screen and (max-width: 768px) {
    .ideas-page-pic {
        height: 72vw;
    }
}

/* Media Screen under 555px */
@media only screen and (max-width: 555px) {
    .like-comment {
        width: 13%;
    }
}

/* Media Screen under 475px */
@media only screen and (max-width: 475px) {
    .like-comment {
        width: 19%;
    }
}

/* Media screen under 340px*/

/* Nav Bar */

@media only screen and (max-width: 340px) {
    .navbar-brand {
        
        font-size: 3rem;
    }
}


